{
    "presets": [
        ["env", {
            "modules":false,
            // Permet de gérer la compaptibilité avec les navigateurs et le JS
            "targets":{
                "browsers": ["last 2 versions", "safari >= 7"]
            }
        }

        ]
    ],
    "plugins": ["syntax-dynamic-import"]
}